@import "common";

#app {
  width: 100%;
  height: 100%;

  .header-wrapper {
    opacity: 0;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed !important;

    &:before {
      content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    }

    .title-wrapper {
      width: 70%;
      height: 100%;
      margin: 0 auto;

      @media (max-width: 1200px) {
        width: 80%;
      }

      justify-content: space-around;
      .logo {
        margin: 0 auto;
        z-index: 10;
        height: 100%;
        width: 70%;
        transform: translateY(-30%);

        svg {
          position: relative;
          top: 60%;
          transform: translateY(-50%);

          g#logo > g {
            opacity: 0;

          }
        }

      }

      .description-wrapper {
        width: 100%;
        height: 50%;

        position: relative;
        top: -50%;
        margin: 0 auto;
        text-align: center;

        .description {
          position: relative;
          top: 10%;
          color: 3e3e4b;

          #upper-bracket {
            height: 2em;
            width: 36em;
            margin: 0 auto;
            border-top: 3px solid black;
            border-right: 3px solid black;
            border-left: 3px solid black;
            border-bottom: 0px;
          }


          #lower-bracket {
            height: 2em;
            width: 36em;
            margin: 0 auto;
            border-top: 0px;
            border-right: 3px solid black;
            border-left: 3px solid black;
            border-bottom: 3px solid black;
          }

          .anime-group {
            opacity: 0;
          }

          a {
            text-decoration: none;

            &:link, &:visited {
              color: $blue;
            }
          }

          h1 {
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
            line-height: 40px;
          }

          p {
            font-size: 1.5em;
            margin-bottom: 20px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
          }

          h3 {
            color: #309cab;
            opacity: 0.8;
            font-size: 1.8em;
            margin-bottom: 15px;
          }

          form {
            margin: 0 auto;
            margin-bottom: 25px;
            width: 40%;
            position: relative; 

            input[type="text"] {
              font-family: 'Work Sans', sans-serif;
              width: 80%;
              height: 40px;
              padding: 10px 10px 10px 10px;
              box-sizing: border-box;
              border: 1px solid gray;
              color: black;
              transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
              text-align: left;
              font-size: 1.2em;
              border-radius: 15px;
              box-shadow: 0px 3px 6px 0px rgba(11, 17, 64, 0.5);
            }

            input[type="text"] + button{
              color: black;
              border: 1px solid gray;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 10%;
              height: 40px;
              line-height: 30px;
              font-size: 1.2em;
              font-weight: semibold;
              width: 100px;
              font-family: 'Work Sans', sans-serif;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: .05em;
              background: #ffea3d;
              transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);;
              transform: translateZ(0) translateX(0);
              border-radius: 0px 15px 15px 0px;
              box-shadow: -2px 2px 6.5px 0px rgba(0, 0, 0, 0.21);
            }
            button:hover {
              background: #F2DD2C !important;
              font-weight: bold;
              box-shadow: none !important;
            }
          }
        }

      }
    }

    .nav {
      opacity: 0;
      width: 100%;
      height: 75px;
      display: block;
      position: absolute;
      top: 0;
      z-index: 11;

      .nav-inner {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        padding: 14px 0;
        display: flex;
        justify-content: space-around;

        @media (max-width: 500px) {
          ul.nav-links {
            a {
              font-size: 0.5em;
              margin: 0 4px;
              letter-spacing: 0.8px;
            }
          }

        }

        ul.nav-links {
          height: 50px;
          line-height: 50px;
          // text-transform: uppercase;

          li:hover {
            opacity: 0.8;
          }
          a {
            color: white;
            display: inline-block;
            margin: 0 10px;
            font-size: 0.8em;
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;

            

          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  #app {

    .header-wrapper {
      .title-wrapper {

        .logo {
          width: 80%
        }

        .description-wrapper {
          width: 100%;
          // height: 40%;


          .description {
            #upper-bracket {
              width: 24em;
              height: 1.5em;  
              margin-bottom: 25px;
            }

            #lower-bracket {
              width: 24em;
              height: 1.5em;
            }

            h1 {
              font-size: 1.6em;
              margin-bottom: 6px;
              line-height: 30px;
            }

            p {
              font-size: 1.3em;
              margin-bottom: 20px;
            }

            h3 {
              font-size: 1.2em;
            }

            form {
              width: 60%;
            }

          }

        }
      }

      .nav {
        .nav-inner {
          ul.nav-links {
            a {
              margin: 0 8px;

            }
          }
        }
      }
    }
  }

}

@media (max-width: 659px) {
  #app {

    .header-wrapper {
      .title-wrapper {
        margin-top: 48px;
        height: 500px;
        width: 90%;
        flex-wrap: wrap;
        .logo {
          height: 70%;
          margin-bottom: -4em;
          svg {
            top: 80%;
            width: 80%;
            display: block;
            margin: 0 auto;
          }

        }

        .description-wrapper {
          top: 50px;
          font-size: 0.7em;
          text-align: center;

          .description {
            padding-left: 0px;

            p {
              margin: 10px auto;
              width: 90%;
              font-size: 1.29em;
            }

            h1 {
              font-size: 1.3em;
              line-height: 24px;
            }

            form {
              width: 90%;
              input[type="text"] {
                height: 30px;
              }

              input[type="text"] + button{
                height: 30px;
                font-size: 1.2em;
                width: 80px;
              }
            }

            #upper-bracket {
              width: 70%;
            }

            #lower-bracket {
              width: 70%;
            }
          }

        }
      }

      .nav {
        .nav-inner {
          width: 90%;
          ul.nav-links {
            a {
              font-size: 0.6em;
              margin: 0 5px;
              letter-spacing: 1px;

            }
          }
        }
      }
    }
  }

}